{% extends 'base.html' %}

{% block title %}New Post{% endblock title %}

{% block content %}
<div class="post-form-container">
    <div class="post-form-wrapper">
        <h1>Got Anything To Share?</h1>
        <form method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <div class="form-controls">
                <button type="submit" class="btn btn-primary">Create Post</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}